@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
:root {
  --primary-white: #fff;
}
body {
  font-family: "Roboto Condesed" sans-serif;
}
/* Menu Links */
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #fff !important;
  border-top: 00.1875rem solid #242526;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0rem;
  height: 6rem;
}
.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid #d4af37;
}
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid #d4af37;
}
